{% extends 'base.html.twig' %}

{% block title %}Boutique Kuumette | Détail
{% endblock %}

{% block body %}

	{# Détail de l'article #}
	<div id="product-{{article.id}}">
		<h1>Déscription
			{{article.name}}</h1>
		<main class="container">
			<div class="flex">
				<article class="left">
					{% for img in article.img %}
						<img data-image="red" class="active" src="/upload/images/products/{{img.url}}" alt="{{img.name}}">
					{% endfor %}
				</article>
				<article class="right">
					<h2>{{article.name}}</h2>
					<p>{{article.description}}</p>
					<span>Taille</span>
					<select id="size">
						{% for size in article.size %}
							<option value="{{size.name}}" id="choices">{{size.name}}</option>
						{% endfor %}
						<form>
							<small>Choisir la Quantité</small>
							<input type="number" class="form-control" name='quantity' value='1' aria-label="Recipient's username" aria-describedby="button-addon2">

							<button data-size="0" data-product="{{article.id}}" class="btn btn-outline-secondary atc-btn" type="submit" id="button-addon2">
								<i class="bi bi-bag-plus">
									Ajouté au panier</i>
							</button>

						</form>
						<span>{{(article.price / 100)|number_format(2, ',', ' ')}}€</span>
					</article>
				</div>
			</main>
		</div>

	{% endblock %}
