{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

<h1>Inscription</h1>
<hr/>
<div class="container">
	<div class="form">
		{{ form_start(form) }}

		{{ form_row(form.email) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.firstName) }}
		{{ form_row(form.phone) }}
		{{ form_row(form.password) }}

		<button class="btn">{{ button_label|default('S\'inscrire') }}</button>
			{{ form_end(form) }}
		</div>
		</div>

	{% endblock %}
