<div class="container">
	<div class="form">
		{{ form_start(form) }}

		{{ form_row(form.country) }}
		{{ form_row(form.city) }}
		{{ form_row(form.address) }}

		<button class="btn">{{ button_label|default('Ajouter') }}</button>

		{{ form_end(form) }}
	</div>
</div>
